{
  "compilerOptions": {
    "module": "CommonJS",
    "moduleResolution": "Node",
    "esModuleInterop": true,
    "target": "ES2020",
    "strict": true,
    "removeComments": true,
    "skipLibCheck": true,
    "rootDir": "./",
    "outDir": "../../../tasks/{{.Task.Slug}}/",
    "types": ["jest", "node"]
  },
  "exclude": ["node_modules"]
}
